.todoList {
    margin-top: 20px;
    height: 75%;
    width: 90%;
    margin: 0 auto;
    border: solid 5px gray;
    border-radius: 20px;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 5px;
}