.todoItems {
    min-height: 40px;
    width: 100%;
    margin-top: 10px;
    border: solid 2px rgb(230, 136, 136);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    background-color: burlywood;
}

.todoItems:hover {
    background-color: beige;
}

.todoTitle {
    font-size: 18px;
    color: rgb(90, 78, 46);
    font-family: sans-serif;
    font-weight: 700;
    width: 60%;
    min-width: 200px;
    outline: 0;
    border: 0;
    border-bottom: solid 2px grey;
    background-color: transparent;
}

.todoToggle {
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: 0;
}

.todoAction {
    padding: 0;
    margin-left: 0;
}

.todoAction button {
    color: white;
    cursor: pointer;
    outline: 0;
    border-radius: 7px;
    font-size: 15px;
    outline: none;
    border: solid 2px gray;
}

.editTodo {
    background-color: rgb(72, 201, 72);
    margin-right: 5px;
}

.deleteTodo {
    background-color: red;
    margin-top: 5px;
}